.App {
  margin-top: 20px;
  display:flex;
  overflow:auto ;
}

.mov-image{
  height:400px;
  width:280px;
  border-radius: 5%;
  object-fit: fill;
  
}

.mov-image:hover{
  box-shadow: -57px -44px 78px -53px rgba(0, 0, 0, 0.4);
  margin-top: -.60rem;
  margin-bottom: .60rem;
}

.fa-star{
  color:orange;
 
  /* display: flex;
  justify-content: end; */
}
.r{
  margin:10px;
  display: flex;
  justify-content: space-between;
}
.el{
  color: black;
  font-weight: bold;
  margin-left:10px;
}
